name: CI - Pull Request

on:
  pull_request:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Basic check
        run: echo "CI check passed"

  docker:
    needs: check
    uses: ./.github/workflows/docker-build.yml
    with:
      push_image: false
