name: CI - Pull Request

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run basic check
        run: |
          python -m py_compile app.py

  docker:
    needs: test
    uses: ./.github/workflows/docker-build.yml
    with:
      push_image: false
